<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

  </head>
<body style="background-color:#9999ff">
    <div class="alert alert-warning" role="alert">
        <h3>{% for msg in messages %}
            {{msg}}
            {% endfor %}</h3>
        </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card-mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Set new password</h4>
                    </div>
                    <form action="{% url 'reset-user-password' uidb64 token %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" type="password" class="form-control form-control-sm" name="password" required>
                          </div>
                          <div class="form-group">
                            <label for="password2" class="form-label">New password</label>
                            <input id="password2" type="password" class="form-control form-control-sm" name="password2" required>
                          </div>
                       <input type="submit" value="submit" class="btn btn-block btn-primary submit-btn"/>
                    </form>
                    <div class="container">
                        <span class="text-lead lead">Have an account?</span><a href="{% url 'login' %}">LOGIN</a><br>
                        <span class="text-lead lead">No account?</span><a href="{% url 'register' %}">REGISTER</a>
                    </div>
                </div>
            </div>
    <div class="col-md-4"></div>
    </div>
    </div>
</body>
</html>